button {
  height: 90px;
  width: 290px;
  font-size: 28px;
  color: white;
  border: none;
  background-color: blue;
  transition-property: background-color;
  transition-duration: 500ms;
  cursor: pointer;
}

button:hover {
  background-color: darkblue;
}
