/* Write your code here: */
/* Group */
h1,h2{
    color: purple;
}
/* Child */
.box > .done {
    color: red;
}
/* Descandent */
.box li {
    color: blue;
}
/* Chaining */
li.done {
    color: green;
}
/* Multiple combiner*/
ul p.done {
    font-size: 0.5rem;
}